body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #363636;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #171717;
}
nav,
li,
ul,
a {
  display: inline-block;
  margin-right: 7px;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}
.logo {
  display: flex;
  margin-left: 25px;
  /* margin-right: auto; */
}
.logo__name {
  margin-right: 1300px;
}
.nav__Search {
  padding: 10px;
}
li:nth-child(3) {
  cursor: pointer;
}
.active {
  color: #00fff5;
}
